// =========  section reviews ==========

.reviews {
    background-color: var(--three-bg);
    padding-bottom: 0;
}

// ========= end section reviews ==========
// =========  section quotes ==========

.quotes {
    &__header {
        font-size: 5.2rem;
        color: var(--primary-color);
        font-weight: 500;
        font-family: var(--font-dancing);
        width: 40%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;
        text-transform: capitalize;
        @include mobile {
            width: 100%;
        }
    }
    &__content {
       display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 3rem;
        @include mobile {
            grid-template-columns: 100%;
        }
    }
    &__content:not(:last-child) {
        margin-bottom: 3rem;
    }
}
// ========= end section quotes ==========
// =========  section our-patients ==========

.our-patients {
    background-color: var(--primary-color);
    &__header {
        text-align: center;
        color: var(--white);
        font-family: var(--font-dancing);
        margin-bottom: 5rem;
        font-size: 5.8rem;
        font-weight: 300;
        @include tablet {
            font-size: 4.8rem;
        }
        @include tablet {
            font-size: 3.8rem;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(3,1fr );
        gap: 2rem;
        @include mobile {
            grid-template-columns: 100%;
        }
    }
}

// ========= end section our-patients ==========
// =========  section technologys ==========
// ========= end section technologys ==========
// =========  section technologys ==========
// ========= end section technologys ==========