
.socials-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: -4rem;
   &__item {
        width: 12rem;
        height: 12rem;
        padding: 2rem;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 6rem;
        background-color: var(--white);
        border: solid 5px transparent;
        border-left-color: cyan;
        border-right-color: red;
        border-top-color: blue;
        border-bottom-color: green;
   }
}