.team-reviews {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    @include tablet {
        bottom: 17%;
    }
    @include mobile {
        bottom: -2.5rem;
    }
    &__item {
        width: 14rem;
        background-color: var(--white);
        padding: 1.2rem;
        border-radius: 5px;
        text-align: center;
        box-shadow: 5px 5px 20px rgba(#707070, $alpha: .2);
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;              
            border-top: 10px solid var(--white);
        }
    }
    &__number {
        font-size: 3rem;
        color: var(--black);
        font-weight: 400;
    }
    &__start {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: var(--orange);
            padding: 0rem 0.1rem;
            font-size: 1.4rem;
        }
    }
    &__desc {
        font-size: 1.5rem;
        margin-top: 0.3rem;
    }
}