
.testimonials {
    background-color: var(--three-bg);
    &__content {
        display: flex;
        gap: 4rem;
        @include mobile {
            flex-direction: column;
        }
    }
    &__slide {
        position: relative;
        width: 50%;
        @include mobile {
            width: 100%;
        }
    }
    &__slide-wrapper  {
        overflow:hidden;
        scroll-behavior: smooth;
    }
    &__slide-main {
        display: flex;
    }
    &__info {
        min-width: 100%;
        height: 100%;
        transition: all .3s ease;
    }
    &__quote {
        display: block;
        margin-top: 4rem;
    }
    &-name {
        color: var(--black);
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: capitalize;
        margin:1rem 0 4rem 0;
    }
    &__navi {
        position: absolute;
        right: 7rem;
        bottom: 12.5rem;
        color: var(--white);
        cursor: pointer;
        width: 3rem;
        display: flex;
        align-items: center;
        gap: 20px;
        @include mobile {
            bottom: 9rem;
        }
    }
    &-images {
        width: 50%;
        display: grid;
        grid-template-areas:
        'item1 item1 item1 item1 item1 item1'
        'item1 item1 item1 item1 item1 item1'
        'item2 item2 item2 item3 item3 item3';
        gap: 2rem;
        @include mobile {
            width: 100%;
        }
        &__item1 {
            grid-area: item1;
            position: relative;
        }
        &__item2 {
            grid-area: item2;
            position: relative;
        }
        &__item3 {
            grid-area: item3;
            position: relative;
        }
        &__icon {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
        &__img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .button {
        @include mobile {
            display: none;
        }
    }
}