:root {
    --main-bg:#6592C0;
    --second-bg:#FFF8ED;
    --three-bg:#f7ecec;

    --primary-color:#3466A5;
    --second-color:#1D477F;
    --three-color:#5CB7CE;
    --five-color:#0A4783;

    --txt-main-color:#303030;
    --txt-second-color:#606060;
    --txt-three-color:#AAAAAA;

    --white:#FFFFFF;
    --orange:#D4A93A;
    --pink:#EDDBDA;
    --light-dark:#F2F2F2;

    
    --header-height:35px;
    --font-dancing:'Dancing Script', cursive;
}
